body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#navbar {
    width: 100%;
    height: 80px; /* Reduced height for better proportion */
    background-color: #7b1fa2; /* Darker shade of purple */
    display: flex;
    align-items: center;
    justify-content: left; /* Adjusted to left alignment */
    padding: 0 20px; /* Add some padding */
}

.block {
    width: 50px; /* Reduced width for better spacing */
}

.block img {
    width: 100%; /* Make images responsive */
    height: auto;
    border-radius: 50%; /* Circular profile image */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

#options {
    padding: 20px; /* Add some padding */
    text-align: center;
    position: absolute;
    top: 50%; /* Position at vertical center */
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

#optionsScrollingHighlight {
    display: flex;
    justify-content: space-between; /* Equal space between buttons */
    align-items: center;
    max-width: 600px; /* Limit width to prevent overflow */
    margin: auto; /* Center horizontally */
}

button {
    padding: 10px 20px; /* Add some padding for better clickability */
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #a968b8; /* Darker shade of gray */
    color: #fbeaff; /* White text */
    font-size: 16px;
    margin: 0 10px; /* Add some margin between buttons */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: #88239f; /* Darker shade of gray on hover */
}

#resizeWarning {
    text-align: center;
    display: none; /* Initially hidden */
}

@media (max-width: 500px) {
    #navbar {
        display: none; /* Hide navbar */
    }

    #options {
        display: none; /* Hide options */
    }

    #resizeWarning {
        display: block; /* Show resize warning */
        margin-top: 50px; /* Add some margin from top */
    }
}


/* To embrace AI and that it's going to replace the job market one day, 
I will start using it against itself to achieve my goals. This begins with 
me using it to write code. If you see this here, then DM me and tell me
"Cheesus."*/